html, body {
  color: white;
  width:  100%;
  height: 100%;
  margin: 0px;
  font-family: 'Quantico', sans-serif;
  text-transform: uppercase;
  background-color: black;
  /*text-align: center;*/
  font-size: 1.5em;
  line-height: 1em;
}

#fucked {
  width: 100%;
  height: 4000px;
}